h2{
    text-align: center;
    border: double orange 3px;
    color: rgb(255, 154, 3);
}
.diemnong{
    text-decoration: underline;
    
}
.benthuonghai{
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: orange;
    text-align: right;
}
.noidung::first-letter{
    font-size: 40px;
    color: red;
    font-weight: 900;
}

.noidung2::first-letter{
    font-size: 40px;
    color: red;
    font-weight: 900;
}
.noidung2{
    text-align: right;
}
.name{
    color: red;
}
em{
    background-color: orange;
}





